  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s3">
        <p><%= link_to "Home",    root_path %></p>
      </div>
      <div class="w3-col s3">
        <p><%= link_to "About",    about_path %></p>
      </div>
      <div class="w3-col s3">
        <p><%= link_to "Menu",    shop_path %></p>
      </div>
      <div class="w3-col s3">
        <p><%= link_to "Contact",    contact_path %></p>
      </div>
    </div>
  </div>
